/*Import google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/*grid container global class*/

.grid-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}


/*Configuration for body and keep fixed the main section*/

body {
    margin: 0;
    padding: 0;
}


/*General configuration for a element*/

a {
    text-decoration: none;
    display: inline;
    color: black;
}


/*header config*/

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}


/*social-media*/

header .social-media-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: black;
}

header .social-media-container .social-media-icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 10px;
}


/*social-media-icons*/

header .social-media-container .social-media-icons span::before {
    color: whitesmoke;
    font-size: 30px;
}


/*Nav config styles*/

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90px;
    background-color: white;
}


/*nav logo*/

nav .profile-logo {
    margin-right: 80%;
    margin-left: 50px;
    display: grid;
}

nav .profile-logo img {
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

nav .profile-logo #profile-logo-word {
    margin-left: -20px;
    font-size: 15px;
    font-weight: 450;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


/*nav profile link*/

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 3px solid wheat;
    font-weight: 500;
}


/*blogs main => main section*/

.blogs-main {
    display: grid;
}


/*main section => blogs news container*/

.blogs-main__news-container {
    background-color: black;
    opacity: .95;
    padding: 0 50px 40px;
}


/*blogs main news that means the main news*/

.blogs-main__news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px, 1fr;
}

.blogs-main__news h2 {
    grid-row: 1;
    grid-column: 1;
    color: whitesmoke;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}


/*img blogs news container*/

.blogs-main__news-img-container {
    grid-column: 1;
    grid-row: 2;
    height: 200px;
    display: flex;
    justify-content: center;
}


/*image of main container*/

.blogs-main__news-img-container img {
    height: 100%;
}


/*blogs container*/

.blogs-main__news-info-container {
    grid-column: 2;
    grid-row: 2;
}

.blogs-main__news-info-container h3,
p {
    color: whitesmoke;
    margin-bottom: 35px;
    font-weight: 100;
}

.blogs-main__news-info-container h3 {
    font-weight: 500;
}

.blogs-main__news-info-container:hover>h3 {
    font-weight: 800;
    transition: 1s;
}


/*general button style*/

.blogs-main__button {
    color: whitesmoke;
    border: 1px solid wheat;
    padding: 5px 10px;
    font-family: 'Crimson Text', serif;
}

.blogs-main__button--light {
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    font-family: 'Crimson Text', serif;
}


/*second section (others posts section)*/

.blogs-posts-container__post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-posts-container__post-container p {
    color: black;
}

.blogs-posts-container__post-container h3,
p {
    margin-bottom: 35px;
}

.blogs-posts-container__post-container img {
    width: 100%;
    border: black 1px solid;
}

.grid-container h2 {
    width: 100%;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
}


/*footer*/

footer {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h5,
a {
    transition: 1s;
    color: whitesmoke;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
}

footer a:hover {
    font-size: 20px;
    transition: 2s;
}


/*responsive design*/


/*small mobiles*/

@media screen and (max-width: 320px) {
    nav .profile-logo {
        margin-right: 20%;
    }
    .blogs-main__news {
        grid-template-columns: 180px 110px;
    }
    .blogs-main__news-info-container {
        grid-column: 2;
        grid-row: 1/ span 2;
    }
    .blogs-main__news p {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .blogs-main__button {
        padding: 0 10px;
    }
    .blogs-main__news-container {
        padding: 0;
    }
    .blogs-posts-container__post-container p {
        text-align: left;
    }
}


/*medium mobiles*/

@media screen and (max-width: 375px) {
    nav .profile-logo {
        margin-right: 20%;
    }
    .home-main__text {
        font-size: 25px;
    }
    .home-main__button {
        width: 100px;
        height: 25px;
        margin-top: -50px;
    }
}


/*mobile larges*/

@media screen and (max-width: 450px) {
    nav .profile-logo {
        margin-right: 20%;
    }
    .home-main__text {
        margin-top: -10px;
        font-size: 30px;
    }
    .home-main__button {
        width: 100px;
        height: 25px;
        margin-top: -50px;
    }
}


/*tablet*/

@media screen and (max-width: 7680px) {
    nav .profile-logo {
        margin-right: 20%;
    }
    .home-main__text {
        font-size: 40px;
    }
    .home-main__button {
        width: 200px;
    }
}